*, html, body {
    font-family: 'poppins';
    background-color: black;
}

img {
    width: 350px;
}

.icon-flags {
    width: 32px;
    height: auto;
}

.icon-standings {
    width: 24px;
    height: auto;
}
.card-standongs {
    background-color: #ff00006e;
}

.card {
    max-width: fit-content;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top right, #f38dbd, #639bff);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-content {
    background-color: #000;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.card:hover .initial-state {
    display: none;
}

.card:hover .final-state {
    display: flex;
}

.content-section {
    display: none;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 {
    display: none;
}

.section-3 {
    display: none;
}

